{
    "presets": [
        [
            "es2015",
            {
                "modules": false
            }
        ],
        "stage-0",
        "react"
    ],
    "plugins": [
        "react-hot-loader/babel",
        "syntax-dynamic-import",
        [
            "import",
            {
                "libraryName": "antd",
                "style": "css"
            }
        ],
        "transform-decorators-legacy"
    ]
}
