{
    "parser": "babel-eslint",
    "plugins": [
        "react"
    ],
    "globals": {
        "logger": true,
        "userLocalStore": true
    },
    "settings": {
        // 解决webpack require各类文件报路径错误
        "import/resolver": {
            "webpack": {
                "config": "./webpack.config.js"
            }
        }
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "allowImportExportEverywhere": false,
        "ecmaFeatures": {
            "jsx": true
        }
    },
    // 脚本运行环境,会决定存在哪些全局变量,比如brower会有window
    "env": {
        "browser": true,
        "amd": true,
        "es6": true,
        "node": true,
        "mocha": true
    },
    // 使用airbnb定义的规则集
    "extends": "airbnb-base",
    // 使用自定义规则进行覆盖
    "rules": {
        "arrow-body-style": 0,
        "react/jsx-uses-react": 1,
        "react/jsx-uses-vars": 1,
        "no-mixed-operators": 0,
        "comma-dangle": 0,
        "no-plusplus": 0,
        "import/no-dynamic-require": 0,
        "import/no-extraneous-dependencies": 0,
        "prefer-template": 0,
        "prefer-const": 0,
        "object-shorthand": 0,
        "global-require": 0,
        "no-unused-vars": 1,
        "no-console": 0,
        "class-methods-use-this": 0,
        "no-debugger": 0,
        "quotes": 0,
        "eqeqeq": 0,
        "max-len": 0,
        "dot-notation": 0,
        "no-underscore-dangle": 0,
        "guard-for-in": 0,
        "no-restricted-syntax": 0,
        "no-continue": 0,
        "quote-props": 0,
        "prefer-rest-params": 0,
        "no-unused-expressions": 0,
        "linebreak-style": 0,
        "no-else-return": 0,
        "no-lonely-if": 0,
        "no-prototype-builtins": 0,
        "no-param-reassign": 0,
        "no-bitwise": 0,
        "no-cond-assign": 0,
        "no-case-declarations": 0,
        "no-fallthrough": 0,
        "no-nested-ternary": 0,
        "camelcase": 0,
        "import/no-named-as-default-member": 0,
        "import/no-named-as-default": 0,
        "func-names": 0, //函数表达式必须有名字
        "no-useless-concat": 0,
        "no-useless-return": 0,
        "array-callback-return": 0,
        "indent": [
            0,
            4
        ],
        "no-alert": 0,
        "no-restricted-properties": 0,
        "import/no-webpack-loader-syntax": 0,
        "import/no-mutable-exports": 0,
        "object-curly-spacing": [
            0,
            "always"
        ], //大括号内是否允许不必要的空格
        "strict": 2, //使用严格模式
        "key-spacing": [
            0,
            {
                "beforeColon": false,
                "afterColon": true
            }
        ], //对象字面量中冒号的前后空格
        "consistent-return": 0,
        "no-extra-semi": 2, //禁止多余的冒号
        "arrow-spacing": 0, //=>的前/后括号
        "semi": [
            1,
            "always"
        ], //语句强制分号结尾
        "no-use-before-define": 0, //未定义前不能使用
        "one-var": [
            0,
            "always"
        ],
        "no-eval": 0,
        "space-before-blocks": [
            1,
            "always"
        ], //不以新行开始的块{前面要不要有空格
        "react/jsx-no-undef": "error",
    }
}