// 主题风格定制
:global {
    .dark-blue-theme {
        background: $darkblue-background_2;
        color: $theme-text-dark;

        :global {
            .contentBg {
                height: 100%;
                background: $darkblue-background_1
            }
            .ant-layout {
                background: $darkblue-background_3;
            }
            .ant-menu {
                background: $darkblue-background_3;
                .ant-menu-item {
                    //background: $darkblue-background_1;
                    margin: 0 !important;
                    &:hover {
                        color: $theme-text-light !important;
                        background-color: $darkblue-highlight-1 !important;
                    }
                    &.ant-menu-item-selected {
                        color: #fff;
                        background: $darkblue-highlight-1;
                    }
                }
                //&.ant-menu-root > .ant-menu-item {
                //    font-size: $font-size-default;
                //}
            }

            .ant-menu-dark,
            .ant-menu-dark .ant-menu-sub {
                background: $darkblue-background_1;
                .ant-menu-item {
                    //font-size: $font-size-small;
                }
            }
            .ant-menu-inline,
            .ant-menu-vertical,
            .ant-menu-vertical-left {
                border: none;
            }
            .ant-menu-dark .ant-menu-inline.ant-menu-sub {
                background: $darkblue-background_6;
                box-shadow: none;
            }

            .ant-layout-sider {
                background: $darkblue-background_1;
                border-right: 1px solid $darkblue-border_1;
            }
            .ant-layout-header {
                background: $darkblue-background_1;
                border-bottom: 1px solid $darkblue-border_1;
            }
            .ant-tabs {
                color: $theme-text-dark;
                .ant-tabs-bar {
                    .ant-tabs-nav {
                        .ant-tabs-tab {
                            background: $darkblue-background_5;
                            color: $theme-text-dark;
                            &:hover {
                                color: $theme-text-light;
                            }
                            &.ant-tabs-tab-active {
                                background: RGBA(203, 224, 255, 0.1) !important;
                                color: $theme-text-light !important;
                                border-bottom: 1px solid RGBA(64, 169, 255, 1);
                            }
                        }
                    }
                }
                .ant-tabs-ink-bar {
                    background-color: #40A9FF;
                }
            }

            .ant-tabs-tab-prev,
            .ant-tabs-tab-next {
                color: $theme-text-dark;
            }

            // table
            .ant-table-wrapper {
                .ant-table {
                    color: $theme-text-dark;
                    .ant-table-content {
                        .ant-table-scroll {
                            .ant-table-header {
                                background: $darkblue-background_4;
                                overflow: hidden;
                                margin-bottom: 0 !important;
                            }
                        }
                        .ant-table-fixed-right {
                            .ant-table-header {
                                background: $darkblue-background_4;
                            }
                        }
                        .ant-table-body {
                            .ant-table-thead > tr > th {
                                background: $darkblue-background_4;
                                color: $theme-text-dark;
                            }
                            > table {
                                border-color: $darkblue-border_1;
                            }
                            td,
                            th {
                                border-color: $darkblue-border_1;
                                border-top: 1px solid $darkblue-background_1;
                            }
                            .ant-table-tbody {
                                .ant-table-expanded-row {
                                    background: none;
                                }
                                .ant-table-row:hover {
                                    &:nth-of-type(even) {
                                        td {
                                            background: none;
                                        }
                                    }
                                    &:hover {
                                        td {
                                            background: $darkblue-background_3 !important;
                                            border-color: $darkblue-highlight-2;
                                            //&:first-child {
                                            //    border-left: 1px solid $darkblue-background_1;
                                            //}
                                            //&:last-child {
                                            //    border-right: 1px solid $darkblue-background_1;
                                            //}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .ant-table {
                .ant-table-thead > tr > th {
                    background: $darkblue-background_4 !important;
                    color: $theme-text-dark;
                    border-top: 1px solid $darkblue-border_1;
                    border-bottom: 1px solid $darkblue-border_1;
                }
                .ant-table-tbody > tr > td {
                    color: $theme-text-title;
                }
            }

            .ant-table-row-expand-icon {
                border-color: $darkblue-border_1 !important;
                background: none !important;
                color: $theme-text-title !important;
            }

            // select
            .ant-select {
                color: $theme-text-title;
                .ant-select-selection {
                    background: $darkblue-input-bg;
                    border: 1px solid $darkblue-border_1;
                    border-radius: $radius;
                    box-shadow: none !important;
                    &:hover {
                        //border-color: $theme-highlight-1;
                        .ant-select-selection__clear {
                            background: $darkblue-background_1;
                            color: $theme-background_55;
                        }
                    }
                    .ant-select-selection__rendered {
                        color: $theme-text-dark;
                        .ant-select-selection__placeholder {
                            color: $theme-text-dark; // placeholder字体颜色
                        }
                    }
                    .ant-select-arrow {
                        color: $theme-select-color;
                    }
                }

                // select禁用
                &.ant-select-disabled {
                    .ant-select-selection {
                        background-color: $theme-background_55;
                    }
                }
            }
            //.ant-select-sm .ant-select-selection--single {
            //    height: 28px;
            //}
            // select出现下拉框时的状态
            .ant-select-open {
                .ant-select-selection {
                    border-color: $darkblue-border_1 !important;
                    box-shadow: none !important;
                }
            }

            .ant-collapse {
                color: $theme-text-dark;
                background: #505565 !important;
                border-color: $darkblue-border_1;
                .ant-collapse-item {
                    border-color: $darkblue-border_1;
                    & > .ant-collapse-header {
                        color: $theme-text-dark;
                    }
                    .ant-collapse-content {
                        //background: $darkblue-background_3;
                        background: #31353f !important;
                    }
                }
                //    .ant-collapse {
                //background: $dark-background-2;
                //color: $theme-text-dark;
                //.ant-collapse-item {
                //    & > .ant-collapse-header {
                //        color: $theme-text-title;
            }
            .ant-collapse-content {
                color: $theme-text-dark;
                border-color: $darkblue-border_1;
            }
            .ant-pagination {
                color: $theme-text-dark;
                .ant-pagination-options-size-changer {
                    color: $theme-text-dark;
                    .ant-select-selection__rendered {
                        color: $theme-text-dark;
                    }
                    .ant-select-arrow {
                        color: $theme-text-dark;
                    }
                }
                .ant-pagination-next,
                .ant-pagination-prev {
                    .ant-pagination-item-link {
                        color: $theme-text-dark;
                    }
                }
                .ant-pagination-item-active {
                    background: $darkblue-highlight-2;
                    a {
                        color: $theme-text-light;
                    }
                }
                .ant-pagination-options-quick-jumper {
                    //height: 28px !important;
                    //line-height: 28px !important;
                    input {
                        //height: 28px !important;
                        background: $darkblue-input-bg;
                        color: $theme-text-dark;
                        border-color: $darkblue-border_1;
                        &:focus {
                            box-shadow: none;
                            border-color: $darkblue-border_1;
                        }
                    }
                }
                .ant-pagination-item a {
                    color: $theme-text-dark;
                }
            }

            // select下拉框
            //.ant-select-dropdown {
            //    background-color: $theme-background_55;
            //    .ant-select-dropdown-menu-item {
            //        color: $theme-text-dark;
            //        &:hover {
            //            color: $theme-text-light;
            //            background-color: $theme-select-selected;
            //        }
            //    }
            //    .ant-select-dropdown-menu-item-selected {
            //        background-color: $theme-select-selected;
            //        &:hover {
            //            background-color: $theme-select-selected;
            //        }
            //    }
            //    .ant-select-dropdown-menu-item-active {
            //        background-color: $theme-select-selected;
            //    }
            //}
            .ant-select-dropdown-menu-item {
                transition: none;
                color: rgba(0, 0, 0, 0.65);
                font-weight: 600;
                &:hover {
                    color: rgba(0, 0, 0, 0.85);
                    background-color: #b8e6fb;
                }
            }
            .ant-select-selection__clear {
                background: $darkblue-background_1;
                &:hover {
                    color: $theme-background_55;
                }
            }

            .ant-select-selection--multiple .ant-select-selection__choice {
                background: transparent;
                border: none;
                color: #fff;
            }
            .ant-select-selection--multiple
            .ant-select-selection__choice__remove {
                color: $theme-text-dark;
                &:hover {
                    color: $theme-text-dark;
                }
            }

            .has-error .ant-select-selection {
                // form必填项border为红色
                border-color: red !important;
            }

            .ant-form {
                color: $theme-text-dark;
            }

            .ant-form-item-label {
                label {
                    color: $theme-text-dark;
                }
            }

            // inputNumber 数字输入框
            .ant-input-number {
                //width: 100%;
                //height: 28px;
                //line-height: 26px;
                background: $darkblue-input-bg;
                color: $theme-text-dark !important;
                border-color: $darkblue-border_1;
                input {
                    background: $darkblue-input-bg;
                    color: $theme-text-title !important;
                }
                .ant-input-number-handler-wrap {
                    background: $darkblue-background_3;
                    color: $theme-text-dark;
                    border-color: $darkblue-border_1;
                    .ant-input-number-handler {
                        > span {
                            color: $theme-text-dark;
                        }
                    }
                }
            }
            .ant-input-number-handler:active {
                background: transparent;
            }
            .ant-input-number-focused {
                box-shadow: none;
            }
            .ant-input-number-handler-down {
                border-color: $darkblue-border_1;
            }

            .addon-elem {
                border: 1px solid $darkblue-border_1;
                color: $theme-text-dark;
            }

            // 时间选择框
            .ant-calendar-picker-clear {
                background: none;
                color: $theme-text-dark;
                &:hover {
                    color: $theme-text-dark;
                }
            }

            .ant-calendar-picker-icon {
                color: $theme-cascader-text-color;
            }

            // input
            .ant-input {
                background-color: $darkblue-input-bg;
                border: 1px solid $darkblue-border_1;
                border-color: $darkblue-border_1 !important;
                color: $theme-text-dark;
                box-shadow: none;
                &:focus {
                    box-shadow: none !important;
                }
            }
            .ant-input-disabled {
                background: $theme-background_55;
                color: $theme-text-dark;
                &:hover {
                    border-color: $darkblue-border_1 !important;
                }
            }

            .ant-input-group-addon {
                border-radius: $radius;
                background-color: $darkblue-input-bg;
                border-color: $darkblue-border_1;
            }

            .ant-popover {
                z-index: $zIndex-popover;
                .ant-popover-inner,
                .ant-popover-arrow {
                    background-color: #36404e;
                }
            }

            .ant-popover-title{
                background-color: #334864;
            }
            .ant-popover-inner-content {
                background-color: #334864;
                //background-color: $darkblue-background_1;
                .ant-popover-message-title {
                    color: $theme-text-title;
                }

                .ant-popover-message {
                    > .anticon {
                        color: #f04134;
                    }
                }
            }

            // message
            .ant-message {
                .ant-message-notice {
                    .ant-message-notice-content {
                        //padding: 0 !important;
                        .ant-message-success {
                            //padding: 10px 16px;
                            //width: 300px;
                            background-color: #ebf8f2;
                            border: 1px solid #cfefdf;
                        }
                        .ant-message-error {
                            //padding: 10px 16px;
                            //width: 300px;
                            background-color: #fef0ef;
                            border: 1px solid #fcdbd9;
                        }
                    }
                }
            }

            // radio
            .ant-radio-wrapper {
                color: hsla(0, 0%, 100%, 0.65);
            }
            .ant-radio-inner {
                border-color: gray;
                background-color: #3d3d3d;
            }
            .ant-radio-disabled + span {
                color: hsla(0, 0%, 100%, 0.65);
            }
            .ant-radio-disabled .ant-radio-inner {
                border-color: gray;
                background-color: #3d3d3d;
            }

            .ant-table-fixed-header
            > .ant-table-content
            > .ant-table-scroll
            > .ant-table-body {
                background: none;
            }
            .ant-table-fixed-left table,
            .ant-table-fixed-right table {
                background: $darkblue-background_1;
            }

            .ant-tabs.ant-tabs-card
            > .ant-tabs-bar
            .ant-tabs-tab
            .anticon-close {
                background: none;
            }
            .ant-table-tbody {
                .ant-table-row:hover,
                tr:hover,
                tr.ant-table-row-hover {
                    td {
                        background: none !important;
                    }
                }
                & > tr > td {
                    border-color: $darkblue-border_1;
                }
            }
            .ant-btn-default {
                background-color: $darkblue-background_1;
                border-color: $darkblue-border_1;
                color: white;
                &:hover {
                    background-color: $darkblue-border_1;
                }
                &:active {
                    background-color: $darkblue-border_1;
                }
                &:focus {
                    background-color: $darkblue-border_1;
                }
            }

            .ant-btn {
                border-color: $darkblue-border_1;
                color: $theme-text-dark;
                &:hover,
                &:focus,
                &:active,
                &.active {
                    background: none;
                    color: $theme-text-light;
                }
                &:focus {
                    background-color: $darkblue-border_1;
                }
                &.ant-btn-primary {
                    background-color: $theme-highlight-1;
                    color: $theme-text-light;
                    border-color: $theme-highlight-1;
                }
                &[disabled] {
                    background: $theme-background_55;
                    color: $theme-text-disabled;
                }
            }
            .ant-table-placeholder {
                background-color: $darkblue-background_1;
                color: $theme-text-dark;
                border-color: $darkblue-border_1;
            }

            //modal
            .ant-modal {
                .ant-modal-body {
                    background-color: $darkblue-background_1;
                    color: $theme-text-dark;
                }
                .ant-modal-header {
                    border-color: #2d2d2d;
                    background-color: $darkblue-background_1;
                    .ant-modal-title {
                        color: $theme-text-title;
                    }
                }
                .ant-modal-footer {
                    background-color: $darkblue-background_1;
                    border-top: 1px solid $darkblue-border_1;
                }
            }
            .ant-modal-mask,
            .ant-modal-wrap {
                background-color: rgba(0, 0, 0, 0.6);
            }

            .ant-modal-content {
                //border: 1px solid RGBA(203, 224, 255, 0.1);
            }

            .form-btn-wrapper {
                background: #4f4f4f;
                border-top: 1px solid #2d2d2d;
            }

            .form-content-wrapper .form-btn-wrapper {
                background: transparent;
            }

            .ant-checkbox-disabled + span {
                color: rgba(255, 255, 255, 0.45);
            }
            .ant-checkbox-disabled .ant-checkbox-inner {
                background: #334864;
                border-color: rgba(255,255,255,.2) !important;
            }

            .ant-checkbox-wrapper {
                color: $theme-text-dark;
            }

            // modal不在Main的dark-theme中，需要单独处理
            .ant-collapse {
                background-color: $darkblue-background_1;
                .ant-collapse-item .ant-collapse-header {
                    color: $theme-text-title;
                }
            }

            .ant-checkbox-wrapper {
                color: $theme-text-dark;
            }

            .ant-checkbox-inner {
                border: 1px solid $darkblue-border_1;
                background: none;
            }

            //icon
            .anticon-plus {
                color: rgba(255, 255, 255, 0.65);
            }

            .ant-input-search-icon {
                color: hsla(0, 0%, 100%, 0.85);
            }

            //cascader
            // .ant-cascader-input.ant-input {
            //     background-color: $darkblue-input-bg !important;
            // }
            .ant-cascader-picker {
                background: transparent;
            }
            .ant-cascader-picker-label {
                color: $theme-cascader-text-color;
            }
            .ant-cascader-picker-clear {
                background: $darkblue-input-bg;
                color: $theme-cascader-menu-bg;
            }

            .ant-cascader-menu {
                //background-color: $theme-cascader-menu-bg;
                //border-color: $darkblue-border_1;
            }
            .ant-cascader-menu-item {
                color: rgba(0, 0, 0, 0.85);
                &:hover {
                    background-color: $darkblue-select-dropdown-active;
                }
            }
            .ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled) {
                background-color: $darkblue-select-dropdown-active;
            }
            .ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled),
            .ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled):hover {
                background-color: $darkblue-select-dropdown-active;
            }
            .ant-cascader-menu-item-expand:after {
                color: rgba(0, 0, 0, 0.65);
            }

            ant-calendar-picker-input {
                padding: 0;
            }

            .ant-radio-button-wrapper {
                border-color: $darkblue-border_1;
                background-color: $darkblue-background_1;
                color: $theme-text-disabled;
                &:not(:first-child)::before {
                    background-color: $darkblue-border_1;
                }
            }
            .ant-radio-button-wrapper-checked {
                border-color: $darkblue-highlight-2;
                // background-color: $darkblue-background_3 !important;
                color: $theme-text-title;
            }

            .ant-tree {
                color: $theme-text-dark;
                li {
                    &.ant-tree-treenode-disabled
                    > .ant-tree-node-content-wrapper
                    span {
                        color: $theme-text-dark;
                    }
                    .ant-tree-node-content-wrapper {
                        color: $theme-text-title;
                        background-color: $darkblue-background_1;
                    }
                    .ant-tree-node-content-wrapper.ant-tree-node-selected {
                        background-color: $darkblue-highlight-2;
                    }
                }
                li span.ant-tree-switcher {
                    color: $theme-text-dark;
                }
            }

            /*----------------------- 自定义通用类名 ------------------------*/
            .activeTableRow {
                background: $darkblue-background_3;
                td {
                    border-top: 1px solid $darkblue-highlight-2 !important;
                    border-bottom: 1px solid $darkblue-highlight-2 !important;
                    // &:first-child {
                    //     border-left: 1px solid $darkblue-highlight-2 !important;
                    // }
                    // &:last-child {
                    //     box-shadow: 1px 0px 0px 0px $darkblue-highlight-2
                    // }
                }
                .editBtn {
                    color: #fff;
                }
            }

            .alert {
                background-color: $darkblue-background_modal;
            }
            .alert-message {
                color: $theme-text-title;
            }
            .alert-description {
                > dl {
                    color: $theme-text-title;
                }
            }

            .searchGroup {
                border-bottom: 10px solid $darkblue-background_2;
            }

            .ant-steps-item-icon {
                border-color: $darkblue-border_1;
            }

            .ant-steps {
                .ant-steps-item-title {
                    color: $theme-text-title;
                    font-weight: bold;
                }
                .ant-steps-item-process {
                    .ant-steps-item-icon {
                        background-color: #1890ff;
                    }
                }
                .ant-steps-item-icon {
                    background-color: transparent;
                }
                .ant-steps-item-wait {
                    .ant-steps-item-icon {
                        border-color: $darkblue-border_1;
                        .ant-steps-icon {
                            color: $theme-text-dark;
                        }
                    }
                    .ant-steps-item-title {
                        color: $theme-text-title;
                    }
                }
                .ant-steps-item-finish {
                    .ant-steps-item-title {
                        color: $theme-text-title;
                    }
                }
            }

            .ant-divider {
                background: $darkblue-border_1;
            }

            .layout-with-left-tree {
                background: $darkblue-background_1;
                .left-tree {
                    background: $darkblue-background_1;
                    .tree-header {
                        background: $darkblue-background_1;
                        .tree-header-select .ant-select-selection-selected-value {
                            color: $theme-text-dark;
                        }
                    }
                }
            }

            .ant-transfer {
                color: $theme-text-dark !important;
                .ant-transfer-list {
                    .ant-transfer-list-header {
                        background-color: $darkblue-background_1;
                        color: $theme-text-dark !important;
                    }
                    .ant-transfer-list-body {
                        .ant-transfer-list-body-not-found {
                            color: $theme-text-dark;
                        }
                    }
                }
                .ant-transfer-list-content-item {
                    background: none;
                }
            }
        }
        .ant-dropdown-menu-item > a {
            color: $theme-text-dark;
        }
        //.ant-select-selection__clear:hover {
        //    background: $darkblue-background_1;
        //    color: $theme-background_55;
        //}
        //.ant-select-selection:hover {
        //    .ant-select-selection__clear {
        //        background: $darkblue-background_1;
        //        color: $theme-background_55;
        //    }
        //}
        .ant-tooltip {
            z-index: $zIndex-tooltip;
        }

        input:-webkit-autofill {
            -webkit-text-fill-color: $theme-text-dark !important;
            transition: background-color 5000s ease-in-out 0s;
        }

        .collapse-block-container {
            background: $darkblue-background_1;
            .collapse-col-title {
                overflow: hidden;
                color: $theme-text-title;
            }
        }

        .layout-row {
            background: $darkblue-background_2;
        }

        //.react-datepicker-wrapper{
        //    line-height: 27px;
        //    width:100%;
        //    .react-datepicker__input-container{
        //      width:100%;
        //    }
        //    input{
        //      padding:0 $pad-small;
        //      width:100%;
        //      color: $theme-text-dark;
        //    }
        //  }

        .react-datepicker-wrapper {
            line-height: 26px;
            width: 100%;
            .react-datepicker__input-container {
                width: 100%;
            }
            input {
                padding: 0 $pad-small;
                width: 100%;
                color: $theme-text-dark;
                background: $darkblue-input-bg;
                border: 1px solid $darkblue-border_1;
                border-radius: $radius;
                &:focus {
                    border: 1px solid $darkblue-border_1;
                    outline: none;
                }
            }
        }

        .ag-header-cell-resize::after {
            border-color: $darkblue-border_1;
        }

        .ag-body {
            .ag-row-group {
                background-color: #1F2F46;
            }
        }

        // sideBar
        .side-bar {
            background-color: $darkblue-background_4;
        }

        .ag-filter {
            .ag-filter-apply-panel {
                button {
                    background: $theme-background_55;
                    border: none;
                }
            }
        }

        .top-nav {
            .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab .ant-tabs-close-x {
                color: $theme-text-disabled;
            }
        }

        //.ant-input{                                                // TODO 蓝色版本的颜色，暂时先注释
        //    color: #fff;
        //    background-clip: padding-box;
        //    border: 1px solid #434857;
        //    border-radius: 0.25rem;
        //    transition: none;
        //    &:focus{
        //        color: #495057;
        //        background-color: #fff;
        //        border-color: #71cced;
        //        outline: 0;
        //        box-shadow: 0 0 0 0.2rem rgba(25, 151, 198, 0.25);
        //        &::-webkit-input-placeholder{
        //            color:#495057;
        //        }
        //        &+.ant-input-suffix .ant-input-search-icon{
        //            color:#495057;
        //        }
        //    }
        //    &+.ant-input-suffix .ant-input-search-icon{
        //        color:#aaa;
        //    }
        //    &::-webkit-input-placeholder{
        //        color:#aaa;
        //    }
        //}
        .ag-ltr .ag-cell-last-left-pinned{
            border-right: 1px solid $darkblue-border_1;
        }
        .ag-ltr .ag-cell-first-right-pinned {
            border-left: 1px solid $darkblue-border_1;
        }
        .ag-pinned-right-header{
            border-left:none;
        }
        .ag-side-bar, .ag-status-bar{
            border-color: $darkblue-border_1;
        }
        .ag-dnd-ghost{
           background-color: #334864!important;
        }
    }
}
