// 主题风格定制
:global {
    .light-theme {
        background: $light-background-body;
        color: $light-text-color_1;
        :global {
            /*---------------------- table ----------------------*/
            .ant-table {
                .ant-table-thead > tr > th {
                    background: $table-header-bg;
                    color: $table-header-color;
                    //border-top: 1px solid $light-border-color;
                    border-bottom: 1px solid $light-border-color;
                }
                .ant-table-tbody {
                    .ant-table-row:hover {
                        &:nth-of-type(even) {
                            td {
                                background: none;
                            }
                        }
                        &:hover {
                            td {
                                background: $light-background-active !important;
                            }
                        }
                    }
                    .ant-table-row.activeTableRow:hover {
                        td {
                            background: none !important;
                        }

                    }
                }
            }

            /*---------------------- menu ----------------------*/
            .ant-menu {
                background: $light-background-menu_left;
                .ant-menu-item {
                    margin: 0 !important;
                    &:hover {
                        color: $theme-text-light !important;
                        background-color: $theme-highlight-1 !important;
                    }
                    &.ant-menu-item-selected {
                        color: #fff;
                        background: $theme-highlight-1;
                    }
                }
            }

            .ant-menu-dark, .ant-menu-dark .ant-menu-sub {
                background: $light-background-menu_left;
            }
            .ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
                border: none;
            }
            .ant-menu-dark .ant-menu-inline.ant-menu-sub {
                background: $light-background-menu_left;
                box-shadow: none;
            }

            /*---------------------- Tab ----------------------*/
            .ant-tabs {
                .ant-tabs-bar {
                    .ant-tabs-nav {
                        .ant-tabs-tab {
                            &.ant-tabs-tab-active {
                                background: $light-background-active !important;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }

            /*---------------------- Btn ----------------------*/
            .ant-btn {
                color: $light-text-color_1;
                &.ant-btn-primary {
                    background-color: $theme-highlight-1;
                    color: $theme-text-light;
                    border-color: $theme-highlight-1;
                }
            }

            /*---------------------- Input ----------------------*/
            .addon-elem {
                border: 1px solid $light-border-color;
                color: $light-text-color_1;
            }

            /*---------------------- Form ----------------------*/
            .ant-form {
                color: $light-text-color_1;
            }

            .ant-form-item-label {
                label {
                    color: $light-text-color_1;
                }
            }

            /*---------------------- Radio ----------------------*/
            .ant-radio-button-wrapper {
                border-color: $light-border-color;
                background-color: #fff;
                color: $light-text-color_1;
                &:not(:first-child)::before {
                    background-color: $light-border-color;
                }
            }
            .ant-radio-button-wrapper-checked {
                border-color: #40a9ff;
                background-color: $light-background-active !important;
                color: #40a9ff;
            }

            /*---------------------- Popover ----------------------*/
            .ant-popover {
                .ant-popover-inner, .ant-popover-arrow {
                    background-color: $light-background_cont;
                }
            }

            .ant-popover-inner-content {
                background-color: $light-background_cont;
                .ant-popover-message-title {
                    color: $light-text-color_2;
                }

                .ant-popover-message {
                    > .anticon {
                        color: $light-text-color_1;
                    }
                }
            }

            /*----------------------- 自定义通用类名 ------------------------*/
            .activeTableRow {
                background: $light-background-active;
            }

            //alert
            .alert {
                background-color: $light-background_cont;
            }
            .alert-message {
                color: $light-text-color_1;
            }
            .alert-description {
                > dl {
                    color: $light-text-color_1;
                }
            }

            .searchGroup {
                border-bottom: 10px solid $light-background-body;
            }
        }
    }
}


