// Name           layout
//
// 存放一些布局相关的样式

$layout-side-width: 227px !default; // 左侧栏宽度
$layout-space: 12px !default; // 左右侧栏间空隙

$layout-prefix-cls: "#{$ns}layout";

:global {
    .#{$layout-prefix-cls} {
        &-has-sider {
            height: 100%;
            padding: $global-spacer;
            overflow: hidden;
            background-color: transparent;
        }

        &-sider {
            flex: none !important; // 覆盖蚂蚁组件 flex 设置
            width: $layout-side-width !important;
            margin-right: $layout-space;
            overflow: auto;
            background-color: #fff;

            // 此类是蚂蚁组件生成的样式类
            .ant-layout-sider-children {
                height: 100%;
            }
        }

        &-content {
            overflow: auto;
        }
    }

    // 左边是树，右边是内容的布局
    .layout-with-left-tree {
        background: $theme-background_2d;
        display: flex;
        height: 100%;
        width: 100%;
        overflow: hidden;
        .left-tree {
            @include attr-responsive(margin, $layout-spacer-sm 0 $layout-spacer-sm $layout-spacer-sm, $layout-spacer 0 $layout-spacer $layout-spacer);
            display: flex;
            flex-direction: column;
            width: 227px;
            background-color: $theme-background_2d;
            border: 1px solid $theme-border_4f;
            .tree-header {
                height: 40px;
                line-height: 40px;
                color: $theme-text-title;
                background: $theme-background_38;
                padding-left: 33px;
                font-size: 13px;
                position: relative;
                &:after {
                    content: "";
                    position: absolute;
                    border-left: 3px solid $brand-primary;
                    left: 20px;
                    top: 13px;
                    height: 14px;
                }
                .tree-header-select {
                    width: 164px;
                    .ant-select-selection {
                        background: transparent;
                        border-color: transparent;
                        margin-top: 6px;
                        margin-left: -6px;
                        &:hover, &:focus, &:active {
                            border-color: #4cb2fb;
                        }
                        .ant-select-arrow {
                            font-size: 14px;
                            color: $text-color-light;
                            right: 4px;
                        }
                    }
                    .ant-select-selection-selected-value {
                        font-size: 13px;
                        color: $title-color;
                    }

                }
                .btn-icon-add, .btn-reload {
                    height: 40px;
                    line-height: 40px;
                    padding: 0 6px;
                    cursor: pointer;
                    color: $text-color-light;
                    background: transparent;
                    border: none;
                    &:hover, &:active, &:focus {
                        color: $brand-primary;
                    }
                }
                .btn-add {
                    margin-left: 20px;
                    color: $brand-primary;
                    border: 1px solid $brand-primary;
                    height: 24px;
                    line-height: 24px;
                    padding: 0 12px;
                    background: transparent;
                    vertical-align: middle;
                    &:hover, &:active, &:focus {
                        background: $brand-primary;
                        color: #fff;
                    }
                }
            }
            .list-select-content {
                padding: 10px 0 20px 0;
            }
        }
        .right-content {
            flex: 1;
            height: 100%;
            overflow: auto;
            @include attr-responsive(padding, $layout-spacer-sm, $layout-spacer);
            .content-header {
                height: 40px;
                line-height: 40px;
                color: $title-color;
                font-size: 16px;
            }
            .page-title {
                line-height: 1;
                .sub-title {
                    color: $text-color-light;
                    margin-left: 8px;
                }
            }
        }
    }

    .layout-row {
        width: 100%;
        margin: 0px !important;
        > div[class^=ant-col] {
            margin-bottom: 12px;
        }
        > div[class^=ant-col]:last-child {
            margin-bottom: 0;
        }
    }
}
