// Modal
// =============================================================
:global {
    // 覆盖Antd的基本样式
    .ant-modal-mask {
        background-color: rgba(0, 0, 0, 0.25) !important;
    }
    .ant-modal-mask, .ant-modal-wrap {
        z-index: 1050 !important;
    }
    .ant-modal {
        .ant-modal-header {
            padding: 10px 16px 10px 33px;
            height: 40px;
            //color: #404040;
            &:before {
                content: "";
                position: absolute;
                border-left: 3px solid #149afa;
                left: 20px;
                top: 13px;
                height: 14px;
            }
        }
        //.ant-modal-body,
        //.ant-modal-footer {
        //  padding: 10px;
        //}
        .ant-modal-close-x, .ant-modal-close {
            height: 40px;
            line-height: 40px;
        }
        .ant-modal-footer {
            height: 52px;
            background: #4f4f4f;
            padding: 10px 20px;
            > button {
                min-width: 86px;
                height: 32px;
                line-height: 32px;
                font-size: 12px;
            }
        }

        .ant-modal-body {
            .sidebar-btn-wrapper {
                text-align: right;
                margin-top: 8px;
                .ant-btn {
                    width: 86px;
                    height: 32px;
                    line-height: 32px;
                    margin-left: 8px;
                }
            }
        }
        .form-content-wrapper {
            .form-main-content {
                min-height: 195px;
                max-height: calc(100vh - 260px);
                overflow: auto;
            }
            .form-btn-wrapper, .sidebar-btn-wrapper {
                text-align: right;
                margin-top: 0;
                .ant-btn {
                    width: 86px;
                    height: 32px;
                    line-height: 32px;
                    margin-left: 8px;
                }
            }
        }

        .sidebar-main-content {
            padding: 10px;
            max-height: calc(100vh - 260px);
            overflow: auto;
        }
    }

    // sidebar里的modal
    .sidebar-modal {
        .ant-modal {
            z-index: 1050;
            .ant-modal-header {
                padding: 0 33px;
                .ant-modal-title {
                    height: 40px;
                    line-height: 40px;
                }
                &:before {
                    content: "";
                    position: absolute;
                    border-left: 3px solid #149AFA;
                    left: 20px;
                    top: 13px;
                    height: 13px;
                }
            }
            .ant-modal-body {
                padding: 0;
                .sidebar-content-wrapper {
                    .sidebar-main-content {
                        padding: 20px 20px 36px 20px;
                        max-height: calc(100vh - 200px);
                        overflow: auto;
                    }
                    .sidebar-btn-wrapper {
                        background: #fafafa;
                        text-align: right;
                        padding: 10px 20px;
                        border-top: 1px solid #EBEBEB;
                        .ant-btn {
                            width: 86px;
                            height: 32px;
                            line-height: 32px;

                        }
                    }

                }
                // TODO: 处理下拉菜单不能超出页面的问题, 暂时没处理好
                // 如果overflow: initial;可以解决下拉菜单显示不全的问题，却会导致切换tabs时闪屏
                // 如果只在y方向显示, x轴方向隐藏就好了，但不知道为什么不生效
                .ant-tabs {
                    overflow: initial;
                    //overflow-x: initial;
                    //overflow-y: hidden;
                }

                // 表单里的collapse
                .ant-collapse {
                    background: #fff;
                    border: none;
                    .ant-collapse-item {
                        margin-bottom: 20px;
                        border: 1px solid #EBEBEB;
                        border-radius: 2px;
                        .ant-collapse-header {
                            background: #F5F5F5;
                            display: block;
                            margin-left: 0;
                            padding-left: 32px;
                        }
                        .ant-collapse-content-active {
                            height: initial !important;
                            overflow: initial;
                        }
                    }
                }
            }
        }
        // modal类型一：小型表单，一行一列，label和input为上下结构
        &.sidebar-modal-sm {
            .ant-form {
                .ant-form-item {
                    flex-direction: column; // 这句是为了防止套用了qx-form-col-7-17之类的class
                    //margin-bottom: 12px;
                    .ant-form-item-label {
                        width: 100%;
                        text-align: left;
                    }
                    .ant-form-item-control-wrapper {
                        width: 100%;
                    }
                }
            }
        }
        &.sidebar-modal-lg {
            .sidebar-content-wrapper {
                .sidebar-main-content {
                    padding: 30px 30px 36px 30px;
                }
            }
        }
        &.sidebar-modal-lg, &.sidebar-modal-sm {
            // 模拟input的label写法
            .form-item {
                display: flex;
                flex-direction: column; // 这句是为了防止套用了qx-form-col-7-17之类的class
                margin-bottom: 20px;
                height: auto;
                .form-label, .form-control {
                    width: 100%;
                    height: $input-height;
                    line-height: $input-height;
                }
                .form-label {
                    text-align: left;
                }
                .form-control {
                    padding: 0 7px;
                    border-radius: 2px;
                }
            }
        }
    }

    // 覆盖旧左右sidebar对底部按钮的写法
    .qx-sidebar-center {
        .sidebar-modal {
            .sidebar-btn-wrapper {
                .ant-btn {
                    width: 86px !important;
                    min-width: 86px !important;
                }
            }

        }
    }

    // 模拟input的label写法
    // 后续封装成组件使用
    .form-item {
        display: flex;
        flex-direction: column;            // 这句是为了防止套用了qx-form-col-7-17之类的class
        margin-bottom: $pad-default;
        height: auto;
        .form-label, .form-control {
            width: 100%;
            height: $input-height;
            line-height: $input-height;
        }
        .form-label {
            text-align: left;
        }
        .form-control {
            padding: 0 7px;
            border-radius: 2px;
        }
    }

}

